@import "tailwindcss";

@theme {
  --color-cyber-pink: #ff00ff;
  --color-cyber-blue: #00e5ff;
  --color-cyber-purple: #8b00ff;
  --color-cyber-neon: #39ff14;
  --color-cyber-dark: #050510;
  --font-poppins: "Poppins", sans-serif;
  --shadow-neon: 0 0 10px var(--color-cyber-blue), 0 0 25px var(--color-cyber-pink);
}

body {
  @apply bg-cyber-dark text-cyber-blue font-poppins min-h-screen;
  background-image: radial-gradient(circle at 20% 20%, #0ff2ff15, #000);
}